/* All common CSS start */
*{
    margin: 0;
    padding: 0;

}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/* All common CSS start */

/* Header part Start */
#header_part{
    background: #1C1E53;
}
/* .logo_menu will put everything sidewise in it because of flex */
.logo_menu{
    display: flex;

}
.logo{
    padding-top: 22px;
    width: 15%;
}
.menu{
    width: 60%;
    text-align: right;
}
/* .menu ul li will pull all the items in horizontally because of inline-block */
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #BBBBCB;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
    padding: 0 15px;
    line-height: 80px;
    
}
.menu ul li a:hover{
    color: #fff;
}
.btn a{
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    padding: 16px 48px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;

}
.btn{
    margin-top: 10px;
    /* it will go from left to right
        margin-left: auto; */
    width: 25%;
    text-align: right;
}
.btn a:hover{
    color: #fff;
}
/* Header part End */

/* Banner part Start */
#banner_part{
    background: #1C1E53;
    padding-top: 160px;
    padding-bottom: 125px;
}
.banner_content{
    display: flex;
}
.banner_left{
    width: 50%;
}
.banner_right{
    width: 50%;
}
.banner_left h1{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    padding-bottom: 24px;
}
.banner_left p{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-right: 51px;
    margin-bottom: 48px;
}
.banner_left a{
    padding: 16px 56px;
    border-radius: 41px;
    background: #FCD980;
    color: #1B1C2B;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.banner_left button{
    background: transparent;
    border: none;
    margin-left: 30px;
    color: var(--White, #FFF);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.banner_left button i{
    vertical-align: middle;
    margin-left: 10px;
}
/* Banner part End */



/* Work part Start */
#work_part{
    background: #F4F6FC;
    padding: 75px 0px;
}
.work_area{
    display: flex;
}
.work_left{
    width: 40%;
}
.work_right{
    width: 60%;
}
.work_left h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 16px;
}
.work_left p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 176px;
}
.work_left a{
    margin-top: 16px;
    background: transparent;
    border: none;
    color: var(--Royal-Blue, #2405F2);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.work_left a i{
    vertical-align: middle;
    margin-left: 10px;
}
.work_right_items_part{
    display: flex;
    margin-bottom: 50px;
}
.work_items{
    /* inside work_right_items_part */
    width: 50%;
    margin: 0 50px;
}
.work_items h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 8px;
}
.work_items p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Work part End */



/* Project part Start */
#project_part{
    padding-top: 140px;
    padding-bottom: 120px;
    background: #FFF;
}
.project_area{
    display: flex;
}
.project_left{
    width: 843px;
    margin-right: 32px;
    
}
.project_left h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.project_left_img{
    margin-top: 50px;
    position: relative;

}

.img_overlay{
    width: 0px;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.img_overlay h3{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-top: 312px;
}
.img_overlay p{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.img_overlay a{
    color: var(--Yellow, #FCD980);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.img_overlay a i{
    vertical-align: middle;
    margin-left: 10px;
}
.overlay_text{
    padding-left: 48px;
}
.project_left:hover .img_overlay{
    visibility: visible;
    opacity: 1;
    width: 396px;
}
.project_right{
    width: 405px;
}
.project_right_btn_part{
    padding-left: 296px;
}
.project_right_btn_part a{
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.project_right_btn_part a i{
    vertical-align: middle;
    margin-left: 10px;
}
.project_right_img_part{
    margin-top: 64px;
    position: relative;
}
.img_overlay2{
    width: 0;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    left: 9px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.img_overlay2 h3{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-top: 129px;
    padding-right: 60px;
}
.overlay_text2{
    padding-left: 53px;
}
.img_overlay2 a{
    color: var(--Yellow, #FCD980);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.img_overlay2 a i{
    vertical-align: middle;
    margin-left: 10px;
}
.project_right_img_part:hover .img_overlay2{
    visibility: visible;
    opacity: 1;
    width: 405px;
}
.project_right_img_bottom_part{
    padding-top: 32px;
}
/* Project part End */


/* Features part Start */
#features_part{
    background: #F4F6FC;
    padding: 128px 0px;
}
.upper_part p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 591px;
}
.upper_part h3{
    width: 630px;
    text-align: center;
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin: 0 auto;
    padding-bottom: 47px;
}
.features_area{
    display: flex;
}
.features_items_part{
    display: flex;
    padding-bottom: 24px;
}
.features_items{
    width: 357px;
    background: #fff;
    padding-top: 58px;
    padding-left: 48px;
    margin-right: 32px;;
}
.features_items h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 12px;
}
.features_items p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 30px;
}
/* Features part End */



/* Review part Start */
#review_part{
    background: var(--Grey, #F4F6FC);
    padding-top: 130px;
}
.review_left_part h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}
/* Review part End */











/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */
/* Header part Start */
/* Header part End */